.manager-header{
    background-color: #6c6c6c;
    border-radius: unset;
    border: unset;
}

.manager-header .logo-manager{
    height: 50px;
}

.manager-header .mission-img{
    height: 30px;
    line-height: 30px;
}

.manager-header .navbar-nav{
    text-transform: uppercase;
    line-height: 50px;
    border: unset;
}

.manager-header .navbar-nav a{
    color: #fff;
}

.manager-header .count-bonus{
    color: #fff;
    font-weight: bold;
}

.manager-photo{
    width: 100%;
}

.manager-name, .manager-pulse{
    position: relative;
    padding-left: 60px;
}

.manager-name::before{
    background: url(../img/manager/mobile-marketing-symbol_icon.png) no-repeat;

}

.manager-pulse::before {
    background: url(../img/manager/ios7-pulse_icon.png) no-repeat;
}

.manager-photo-container{
    max-height: 300px;
    overflow: hidden;
}

.manager-name::before, .manager-pulse::before{
    content: '';
    display: block;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
}

.manager-pulse .question{
    display: inline-block;
    background: url(../img/manager/question.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    margin-left: 5px;
}

.question .question-hov{
    display: none;
    position: absolute;
    font-size: 12px;
    width: 180px;
    background: rgb(254, 89, 12);
    left: 30px;
    padding: 5px;
}

.question .question-hov::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 5px;
    border: 5px solid transparent;
    border-right: 5px solid rgb(254, 89, 12);
}

.manager-pulse .question:hover, .reward:hover{
    cursor: pointer;
}

.manager-pulse .question:hover .question-hov{
    display: block;
}

.reward{
    display: inline-block;
    max-width: 9%;
    text-align: center;
    vertical-align: middle;
}
.manager-info .reward:last-child {
    max-width: 12%;
    margin-left: 10px;
}

.reward img{
    width: 90%;
}

.reward .reward-desc{
    display: none;
    position: absolute;
    font-size: 12px;
    width: 9%;
    background: rgb(254, 89, 12);
    padding: 5px;
    top: -65px;
}

.reward .reward-desc::before{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -10px;
    border: 5px solid transparent;
    border-top: 5px solid rgb(254, 89, 12);
}

.reward:hover .reward-desc{
    display: block;
}

.manager-info .reward button, button.buy{
    width: 90%;
    min-width: 100px;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .3em #800;
    background: linear-gradient(#FB9575, rgb(255, 130, 10) 48%, rgb(255, 110, 10) 52%, rgb(250, 89, 12));
}

.manager-info .reward button:active, button.vote:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.manager-info{
    padding-bottom: 20px;
    border-bottom: 8px solid #6c6c6c;
    display: inline-block;
}



.departments h3{
    color: #ff7e19;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;
}

.worker .manager-rewards .col-md-12{
    background: #fff;
    width: unset;
    margin: 15px;
}

.worker h1{
    color: #fff;
}

#task .tasks-block, .shop-block{
    max-height: 400px;
    background-color: #f8a358;
    height: 400px;
    margin: 40px 10px;
    padding-top: 5px;
    overflow-y: auto;
}

.tasks-block .task-header, .task{
    text-transform: uppercase;
    background-color: #d57c20;
    margin: 5px 25px;
    display: block;
    color: #fff;
    padding: 10px 0;
}

.task{
    margin-top: 10px;
    background-color: #997e66;
}

.task .task-footer{
    padding: 0 10px;
    position: relative;
}

.task-footer .bonus{
    position: absolute;
    right: 10px;
    top: -5px;
}

.task .accept{
    text-transform: uppercase;
    font-size: 12px;
    color: #d57c20;
    background-color: #6c6c6c;
    border: none;
}

.task .add-manager {
    text-transform: none;
    color: #fff;
    padding: 5px;
}

.task .accept:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.task img{
    width: 30px;
}

.finish .bonus{
    top: -25px;
}

.task .products{
    padding-left: 10px;
    padding-right: 10px;
    text-transform: none;
    height: 50px;
    max-height: 80px;
}

.shop-block{
    margin-bottom: 0;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    border: 10px solid #6c6c6c;
    vertical-align: middle;
    display: flex;
}

.shop-block .product-img, .shop-block .product-desc{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    margin: auto;
    height: 150px;
}

.product-name, .shop-block .cost{
    font-weight: bold;
}

.shop-block .product-img img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;

}

.shop-block .mission-img{
    width: 30px;
}

.shop-block button{
    width: 100px;
    margin-top: 20px;
}

#rating{
    position: absolute;
    width: 100%;
    left: 0;
    top: -10px;
}

#rating .nav{
    background-color: #6c6c6c;
}

#rating li{
    float: none;
    display: inline-block;
}

#rating a{
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

a{
    color: #fff;
}

#rating .tab-content{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

#rating .progress-rating{
    width: 80%;
}

#rating .progress-rating .progress{
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    width: 75%;
}

#rating .progress-label{
    display: inline-block;
    vertical-align: middle;
    width: 17%;
}

#rating .progress-rating .progress-bar{
    background-color: rgb(254, 89, 12);
}

.img-finalist{
    background: url(../img/manager/finalist.png) center center no-repeat;
    height: 250px;
    background-size: contain;
    display: block;
    margin-top: 50px;
}

button.vote{
    margin-top: 20px;
    width: unset;
}

.img-finalist .places{
    display: inline-block;
    width: 33%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    word-wrap: break-word;
}

.img-finalist .places:nth-child(2){
    top:0;
}

.img-finalist .places:first-child{
    left: 33%;
    top: -20px;
}

.img-finalist .places:last-child {
    right: 10%;
    top: 15px;
}

@media only screen and (min-width: 40em) {
    .modal-overlay-worker {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        z-index:999;
    }
    .modal-overlay-worker.active {
        opacity: 1;
        visibility: visible;
    }
}
/**
 * Modal
 */
.modal-worker{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #6c6c6c;
    max-width: 1000px;

    min-height: 45rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    z-index:1000;
}

.modal-worker{
    max-width: 80%;
    min-height: 28rem;
}


 .modal-worker{
    width:80%;
    align-items: initial;
    overflow: hidden;
}
.close-modal-worker{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
 .close-modal-worker svg {
    width: 1.75em;
    height: 1.75em;
}

.worker{
    margin-top: 60px;
}

.modal-worker .row{
    width:100%;
    margin-left: 0;
}

.modal-worker.active {
    visibility: visible;
    opacity: 0.95;
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow:
            0 1px 4px rgba(255, 255, 255, .3),
            -25px 0 40px -23px rgba(255, 255, 255, .8),
            25px 0 40px -23px rgba(255, 255,255, .8),
            0 0 40px rgba(255, 255, 255, .1) inset;
}
.modal-worker.active .modal-content {
    opacity: 1;
}
.modal-worker.active .close-modal-worker{
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 1;
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {

     .modal-worker{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        padding: 0 !important;
        max-width: 100%;
    }

    .modal-worker{
        width: 80%;
        height: 70%;
        right: 0;
        top:10%;
    }

    .close-modal {
        right: 20px !important;
    }
}

@media screen and (max-width:1200px){
    .reward .reward-desc{
        top: -75px;
        width: 11%;
        margin-left: -1%;
    }
    #rating .progress-rating .progress, #rating .progress-label{
        width: 100%;
    }
}

@media screen and (max-width:992px){
    .img-finalist{
        margin-top: 50px !important;
    }
    .img-finalist .places:last-child {
        right: 17%;
    }
    .img-finalist .places:nth-child(2) {
       left: 15%;
    }
}

@media screen and (max-width:800px){
    .reward .reward-desc{
        top: -95px;
    }

    #rating .navbar-nav {
        margin: unset;
    }

    #rating .progress-rating {
        width: 100%;
    }
}

@media screen and (max-width:640px){
    .img-finalist .places:first-child {
        top: 5px !important;
    }

    .img-finalist .places:last-child {
        right: 8%;
        top: 25px !important;
    }
    .img-finalist .places:nth-child(2) {
        left: 8%;
        top: 20px !important;
    }
    .manager-rewards{
        text-align: center;
    }

    .header-manager-info .reward:last-child {
        max-width: 100%;
        padding-top: 10px;
    }

    .manager-info .reward button{
        padding: 5px;
    }

    .reward .reward-desc{
        width: 20%;
        top: -100px;
        margin-left: -6%;
    }

    .worker h1{
        font-size: 25px;
    }

    h1{
        font-size: 25px;
    }

    .manager-name::before, .manager-pulse::before {
        width: 30px;
        height: 30px;
    }

    .manager-name, .manager-pulse {
        padding-left: 40px;
    }
    .worker .reward{
        max-width: 18%;
    }

    .worker .reward .reward-desc{
        top: -115px;
        margin-left: -2%;
    }
}

@media screen and (max-width:400px) {
    .img-finalist .places:last-child {
        right: 7%;
        top: 14% !important;
    }
    .img-finalist .places:nth-child(2) {
        left: 6%;
        top: 10% !important;
    }
    .img-finalist .places:first-child {
        top: 5px !important;
    }
}





