.main .newsBlock-list-item__title a{vertical-align:middle;line-height:normal;display:inline-block;height:42px;overflow:hidden;}
.download-form{display:none;}
.language-xs{display:none;}
.hamburger{display:none;left:10px;top:30%;position:absolute;cursor:pointer;transition-property:opacity, filter;transition-duration:0.15s;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible;}
.hamburger:hover{opacity:0.7;}
.hamburger-name{color:#fff;font-size:11px;text-align:center;}
.hamburger-box{width:40px;vertical-align:middle;height:24px;display:inline-block;position:relative;}
.hamburger-inner{display:block;top:50%;margin-top:-2px;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{width:40px;height:4px;background-color:#fff;border-radius:0px;position:absolute;transition-property:transform;transition-duration:0.15s;transition-timing-function:ease;}
.hamburger-inner::before, .hamburger-inner::after{content:"";display:block;}
.hamburger-inner::before{top:-10px;}
.hamburger-inner::after{bottom:-10px;}
.hamburger--collapse .hamburger-inner{top:auto;bottom:0;transition-duration:0.15s;transition-delay:0.15s;transition-timing-function:cubic-bezier(0.55, 0.055, 0.675, 0.19);}
.hamburger--collapse .hamburger-inner::after{top:-20px;transition:top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;}
.hamburger--collapse .hamburger-inner::before{transition:top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);}
.hamburger--collapse.is-active .hamburger-inner{transform:translate3d(0, -10px, 0) rotate(-45deg);transition-delay:0.32s;transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);}
.hamburger--collapse.is-active .hamburger-inner::after{top:0;opacity:0;transition:top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;}
.hamburger--collapse.is-active .hamburger-inner::before{top:0;transform:rotate(-90deg);transition:top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);}
.telephone-xs{display:none;}
.news-list-item__content img{display:none;}
#recaptcha4>div{margin:auto;}
@media screen and (max-width:1200px){.wrapper{}
.cabinet .cabinet-main-itemList{width:1180px;}
.header-mid{height:130px;padding:0;}
.header-mid__logo{width:100%;}
.authorisation{width:100%;}
.authorisation__input{width:90%;}
.bonus,.menubrands,.menucontact{display:none;}
.header-mid-menu-left{display:none;}
.header-mid-menu-right{display:none;}
.main .aboutBlock__image{width:370px;height:400px;right:-4%;top:9%;}
.footer .wrapper > div{margin:0 3px;}
.footer-products-list:not(:last-child){text-align:right;}
.footer-company{text-align:right;}
.footer-logoBlock__site{margin-top:0;}
.footer-copyright{font-size:0.8rem;}
.header-mid-menu-right{width:38%;}
.header-mid-menu-left{width:38%;}
.header-mid__logo{width:100%;background-size:15%;margin-bottom:-22px;}
.main .newsBlock-list .customNewsPagination .owl-prev{left:-2%;}
.main .newsBlock-list .customNewsPagination .owl-next{right:-5%;}
.header-bottom{height:80px;}
.header-top-url-list__item{margin-left:15px;}
.pagination{line-height:1.4rem;padding-top:30px;}
.pagination > li > a, .pagination > li > span{padding:2px 5px;line-height:30px;font-size:13px;}
p iframe{width:94%;}
.reviews-list-item__content{color:#000;width:90%;}
.message__submit{margin-top:20px;margin-bottom:20px;}
.header-bottom-menu__item{font-stretch:extra-condensed;font-size:90%;}
.header-bottom-menu{width:79%;}
.header-bottom-searchForm{width:20%;}
.footer .wrapper > div{display:inherit;margin:inherit;}
li[itemprop=description] table{max-width:90% !important;width:auto !important;margin:auto !important;}
}
@media screen and (max-width:1084px){.slider-item__description{font-size:2rem;font-weight:bolder;padding:15px;}
}
@media screen and (min-width:1024px){
	.header-bottom-menu{display:inline-block !important;}
	.header-bottom-menu.catalog{display:none!important;}
}
@media screen and (max-width:1024px){html{font-size:12px;background:#fff;}
.header-bottom-searchForm{position:relative;bottom:30px;}
.itemsSidebar-products{padding:10px 20px 1px 30px;}
.itemsSidebar-producers{padding:10px 20px 1px 30px;}
.itemsSidebar-producers__title, .itemsSidebar-products__title{margin-bottom:10px;}
.cabinet .cabinet-main-manager__img{display:block;float:none;margin:0 auto 20px;}
.header-bottom-menu__item:hover .header-bottom-menu-list{display:none;}
.header-bottom-menu{display:inline-block !important;}
.productpage .header-bottom-menu{display:none !important;}
.header-bottom-menu{display:none !important;}
.home .header-bottom-menu:not(.catalog){display:none!important;}
.home .header-bottom-menu.catalog{display:inline-block!important;}
.header-bottom-menu__item__main{display:none;}
.header-bottom-searchForm{position:relative;bottom:0px;}
.header .header-top__tel{display:none;}
.header .header-top{position:absolute;border-bottom:none;height:0;}
.header .header-top-callBtn{display:none;}
.slider-item__description{font-size:2rem;font-weight:bolder;padding:15px;}
.header-bottom-menu{float:none;bottom:inherit;left:0;width:100%;z-index:10;background:#f59f08;}
.header-bottom-menu__item:first-child{margin-left:30px;}
.header-bottom-menu__item__main{display:none!important;}
.header-bottom-menu__item{display:block;font-size:15px;line-height:3em;border-bottom:1px solid #fff;}
.download-form{display:none;width:100%;height:100px;font-size:15px;color:#005a2d;background:rgba(255, 255, 255, 0.5);padding:30px 20px;line-height:1.4em;position:absolute;z-index:601;}
#download-close{position:absolute;display:block;height:20px;line-height:20px;top:5px;right:5px;font-size:11px;}
.language-xs{display:block;right:20px;top:20px;}
.wrapper{padding:0 15px;}
.cabinet .cabinet-main-profile-list{width:49%;}
.breadcrumbs{line-height:normal;margin-top:20px;}
.catalog-list-item__title{padding:0 10px;}
.catalog-list-item__title span{line-height:normal;word-break:break-all;font-size:0.9rem;}
.hamburger{display:inline-block;left:40px;}
.header-bottom{line-height:25px;}
.catalog-list .catalog-list-item.subcategories-list-item{width:24%;}
.catalog__title{line-height:normal;}
.tabs-control__item{margin-right:30px;}
.tabs-list__item{overflow:hidden;overflow-x:visible;}
.header-mid-menu-left-item{font-size:11px;}
.header-mid-menu-left-item_text{display:none;}
.header-mid-menu-right-item{font-size:11px;}
.header-mid-menu-right-item_text{display:none;}
.header-mid-menu-right{width:30%;}
.header-mid-menu-left{width:30%;}
.header-mid__logo{width:38%;background-size:contain;margin-bottom:0;margin-right:auto;margin-left:auto;}
.header-bottom-searchForm{width:260px;float:right;margin-top:20px;margin-right:20px;}
.tabs{margin-left:0;}
.message{width:100%;}
.message__textarea{width:92%;resize:none;}
.message__input{width:100%;}
.news-list-item__title{line-height:normal;margin:20px 0;height:auto;}
.news-list-item__img{display:block;width:100%;}
.footer-products-list, .footer-company-list{font-size:1.4rem;}
.footer-products-list a:hover, .footer-company-list a:hover{text-decoration:underline;}
.partners__img{display:inline-block;line-height:120px;width:33%;height:120px;padding:5px;margin-top:10px;vertical-align:top;}
.contacts__title{margin-bottom:30px;}
.contacts-list{margin-bottom:40px;}
.contacts-list-item{margin-bottom:30px;}
.items__title{height:auto;line-height:normal;margin-bottom:30px;}
.pagination__item{font-size:14px;margin-bottom:30px;}
.space{height:40px;}
.shares{margin-top:30px;}
}
@media screen and (max-width:900px){html{font-size:12px;}
.partnerBlock{  margin-top: 50px;  }
.righttelblock{display:block;}
.cart-success{line-height:normal;margin:100px 0px 60px;height:auto;}
.aboutBlock{display:none;}
.main .newsBlock{display:none;}
.header-mid__logo{background-size:36%;}
.hamburger{display:inline-block;left:20px;}
.footer .wrapper .footer-products, .footer .wrapper .footer-company{display:none;}
.catalog-list .catalog-list-item.subcategories-list-item{width:42%;}
.itemsSidebar{display:block;width:100% !important;}
.itemsList{width:100% !important;    margin-left: 0 !important;}
.itemsList-item__title{word-break:break-all;padding:0 10px;}
.item-main-right__submit{float:none;}
.item{text-align:center;width:100%;}
.item-main-left-additional__option{display:inline-block;width:35%;}
.item__image{width:40%;}
.item-main{width:100%;}
.item-main__id{display:none;}
.item-main__title{max-width:100%;font-size:1.5rem;margin-top:15px;}
.item-main-right__ask{display:none;}
.item-main-form__input{margin-bottom:20px;width:49%;}
.pagination__item.pagination__item_prev, .pagination__item.pagination__item_next{display:none;}
.wrapper{width:600px!important;}
.header-bottom{line-height:25px;}
.header .header-top-languagePicker{right:-20px;}
.header .header-top__exit{top:0;left:-100%;}
.header-top-url{display:none;}
.header-mid-menu-left-item{font-size:11px;}
.header-mid-menu-left-item_text{display:none;}
.header-mid-menu-right-item{font-size:11px;}
.header-mid-menu-right-item_text{display:none;}
.header-mid-menu-right{width:30%;}
.header-mid-menu-left{width:30%;}
.header-mid__logo{width:85%;}
.header-bottom-searchForm{width:350px;float:right;margin-top:20px;margin-right:20px;}
.videoBlock{display:none;}
.main .aboutBlock-main{margin-left:0px;}
.aboutBlock__image{display:none;}
.footer .wrapper > div{width:100%;text-align:center;margin:0;}
.footer-copyright{height:80px;}
.footer-copyright-prodevs{top:40px;}
.wrapper .shares-list .customPagination{top:47%;}
.main .newsBlock-list .customNewsPagination .owl-next{right:-13%;}
.main .newsBlock-list .customNewsPagination .owl-prev{left:-2%;}
.main .newsBlock-list .customNewsPagination .owl-prev{left:-2%;}
.main .newsBlock-list .customNewsPagination{position:absolute;top:55%;width:95%;}
.delivery-list-item{margin:0;}
.modal{width:90%;height:38rem;}
.modal__input{width:90%;}
#recaptcha1{width:90%;margin-bottom:20px;}
.cabinet-interview__textarea{width:100%;}
.cabinet-interview-radiobuttonList{width:32%;margin-top:20px;}
.cart-buttons > a{width:45%;}
.orderForm-sidebar{width:100%;}
.orderForm-main{width:100%;padding:20px 0 !important;}
.orderForm-main-itemList{width:100%;overflow:scroll;}
.orderForm-main-itemList-header{width:1180px;}
.orderForm-main-itemList-item{width:1180px;}
.order-login__text{display:block;margin-bottom:20px;}
.form-group{margin-bottom:20px;}
.order-login{margin-top:30px;}
.orderForm-main__textarea{display:block;resize:none;width:90%;margin-left:4%;}
}
@media screen and (max-width:640px){html{font-size:10px;}
.catalog-list-item{
    margin: 5px;
}
.message__textarea{width:88%;resize:none;}
.header-bottom-searchForm{width:260px;}
.authorisation__register{margin-bottom:20px;margin-right:0;}
.telephone-xs{display:block;height:40px;width:100%;line-height:40px;text-align:center;color:#66221f;font-size:14px;border-top:1px solid #66221f;}
.telephone-xs span:first-child{margin-right:20px;}
.footer-copyright{padding:20px 0;line-height:normal;}
.footer-logoBlock__gPlay{display:inline-block;vertical-align:top;width:140px;height:45px;margin-right:7px;background:url(../img/google-play.png) no-repeat center;margin-bottom:20px;}
.footer-logoBlock__appStore{display:inline-block;vertical-align:top;width:140px;margin-right:0px;height:45px;background:url(../img/appstore.png) no-repeat center;}
.footer-contacts__title{display:none;}
.footer-contacts-list{display:none;}
.hamburger{display:inline-block;}
.wrapper{width:100%!important;}
.header-mid{height:90px;padding:0;}
.header-mid__logo{margin-top:0;display:block;height:65px;margin-top:10px;width:50%;z-index:200;position:relative;background-size:contain;}
.header .header-top-callBtn{left:25%;top:40px;line-height:12px;position:absolute;margin:0;}
.header-top{height:80px!important;}
.header .header-top-languagePicker{right:0px;top:35px;}
.header .header-top__exit{left:-200px;top:40px;}
.header .header-top__tel{margin-left:10px;}
.header-mid-menu-left{vertical-align:middle;}
.header-mid-menu-left-item{display:block;text-align:center;margin-bottom:16px;}
.header-mid-menu-right{width:28%;vertical-align:middle;}
.header-mid-menu-right-item{display:block;text-align:center;margin-bottom:16px;}
.wrapper .shares__title{font-size:1.5rem;height:30px;line-height:1em;}
.main .aboutBlock-main__title{text-align:center;font-size:1.3rem;}
.main .aboutBlock-main__text{padding:15px;}
.main .newsBlock__title{font-size:1.3rem;}
.item-main-left{width:100%;margin-bottom:15px;}
.item-main-right{width:100%;}
.footer-logoBlock__site{display:none;}
.message__title{font-size:2rem;}
.page .itemsList .itemsList-item-sale{bottom:170px;position:absolute;}
.productpage .itemsList-item-sale,.home .wrapper .shares-list-item .itemsList-item-sale{bottom:0;padding:0 5px;position:relative;}
.home .wrapper .shares-list-item .itemsList-item-sale{top:-10px !important;}
.wrapper .shares-list-item .itemsList-item-sale__percent{margin-top:15px;}
}
@media screen and (max-width:600px){
	.modal-open .modal {overflow: auto;width:90% !important;min-height: 30rem;height: inherit !important;}
}
@media screen and (max-width:400px){
	.wrapper .shares-list-item .itemsList-item-sale{top:100px;}
}
@media screen and (max-width:370px){.header-bottom-searchForm{width:219px !important;}
}
@media screen and (max-width:320px){.header-bottom-searchForm{width:180px !important;}
.telephone-xs{font-size:13px;font-stretch:extra-condensed;font-weight:bold;}
.telephone-xs span:first-child{margin-right:10px;}
}
.sandwich-menu ul{list-style:none;overflow:hidden;position:fixed;height:100vh;color:#fff;font-size:2rem;background:rgba(0, 0, 0, 0.7);text-align:center;width:0;z-index:500;transition:all, 1s;top:0;padding:20px 0 0 0;line-height:3rem;padding-top:20px;}
.sandwich-menu ul .sandwich-menu-title{color:#f59f08;font-size:20px;}
#sandwich-close{position:absolute;top:5px;right:5px;width:32px;height:30px;background:url("https://openclipart.org/image/800px/svg_to_png/183568/close-button.png") no-repeat center;background-size:contain;}
.sandwich-menu ul li{line-height:2.5em;height:2.5em;font-size:15px;overflow:hidden;}
.sandwich-menu ul li:last-child{border-bottom:2px solid #f59f08;}
.sandwich-menu.menu-active{display:block;}
.sandwich-menu.menu-active ul{width:100%;transition:all, 1s;}
.sandwich-menu-layout{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.5);z-index:499;}
.sandwich-menu.menu-active .sandwich-menu-layout{display:block;}
